
<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Completed jobs without invoice number</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Customer</th>
              <th>User</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <td><a href="#">#22</a></td>
            <td><a href="#">business name</a></td>
            <td><a href="#">user name</a></td>
            <td>Jan 3 18</td>
            <td><a href="#">edit</a></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Completed jobs without certificate sent</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Customer</th>
              <th>User</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <td><a href="#">#22</a></td>
            <td><a href="#">business name</a></td>
            <td><a href="#">user name</a></td>
            <td>Jan 3 18</td>
            <td><a href="#">certificate</a></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Completed jobs without job report</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Customer</th>
              <th>User</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <td><a href="#">#22</a></td>
            <td><a href="#">business name</a></td>
            <td><a href="#">user name</a></td>
            <td>Jan 3 18</td>
            <td><a href="#">Report</a></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Overdue jobs</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Customer</th>
              <th>User</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <td><a href="#">#22</a></td>
            <td><a href="#">business name</a></td>
            <td><a href="#">user name</a></td>
            <td>Jan 3 18</td>
            <td><a href="#">edit</a></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
