
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Certificate</title>
  <style>
    .row {
      width: 100%;
    }
    .row:before {
      display: table;
      content: " ";
    }
    .row:after {
      clear: both;
      display: table;
      content: " ";
    }
    .col-sm-4 {
      width: 33.3333333%;
      float: left;
    }
  </style>
</head>
<body>
  <div style="padding: 0px 30px;">
    <div style="text-align: center;">
      <h1>Wall Mounted Breathalyser</h1>
      <h2>Service & Calibration Performed by Breathalyser Sales & Service Pty Ltd</h2>
      <h3>Calibration Certificate No: ()</h3>
    </div>

    <p>
      Customer: () <br>
      Site: () <br>
      Serial No: () <br>
    </p>
    <p>
      This certifies that the instrument listed above has been serviced and calibrated by
      Breathalyser Sales & Service Pty Ltd in accordance with the device manufacturer’s
      service and calibration procedures, and in compliance with Australian Standard AS3547
      certification requirements.
    </p>
    <div style="text-align: center">
      <h2>Service Report Details</h2>
      <p style="text-align: left; padding-left: 200px;">
        <strong>Date: </strong> <br>
        <strong>Technician: </strong> <br>
        <strong>Calibration Successful: </strong> <br>
        <strong>Manual Test Final: </strong> (BAC)<br>
        <strong>Cal Gas Replaced: </strong> <br>
      </p>
      <h3>Faults/Repairs/Comments:</h3>
    </div>
    <p>
      <i>
        NOTE: BAC - Blood Alcohol Concentration expressed in g/100ml (grams of alcohol in
        100 mililtres of blood)
      </i>
    </p>
    <p style="text-align: center;">We recommend that this certificate be kept and filed for future reference.</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p style="font-size: 13px;">
        <strong>Sydney - Head Office</strong> <br>
        128 O’Riordan Street, <br>
        Mascot NSW 2020. <br>
        Tel: 02 8338 1555 <br>
        Fax: 02 8338 1688 <br>
        Australia Wide: 1300 999 200 <br>
        admin@breathalyser.com.au
      </p>
    </div>
    <div class="col-sm-4">
      <p style="font-size: 13px;">
        <strong>Perth</strong> <br>
        486 Great Eastern Hwy <br>
        Ascot WA 6104 <br>
        Ph: 08 9479 3866 <br>
        Fax: 02 6267 8168 <br>
        wa@breathalyser.com.au
      </p>
    </div>
    <div class="col-sm-4">
      <p style="font-size: 13px;">
        <strong>Brisbane</strong> <br>
        11/ 17-19 University Drive, <br>
        Meadowbrook QLD 4131 <br>
        Ph: 07 3200 4944 <br>
        Fax: 07 3200 4955 <br>
        qld@breathalyser.com.au
      </p>
    </div>
    
  </div>
</body>
</html>