<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Editing Job Report</h3>
  </div>
  <div class="box-body">
    <%= render 'form', job_report: @job_report %>
  </div>
</div>
